{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}!{% endblock %}
{% block body %}
<div>
    <h1>Liste des utilisateur enregistrés sur le site</h1>
    <a href="{{ path("events")}}" class="btn btn-link btn-block">Retour à la page Evènement</a>
    {% if (users) %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre de l'article</th>
                    <th>Voir</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }} - {{ user.last_name }}</td>                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas d'utilisateurs dans la base de données</p>
    {% endif %}
</div>
{% endblock %}



