{% extends 'base.html.twig' %}

{%  block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <a href="{{ path("admin")}}" class="btn btn-link btn-block">Retour à la page admin</a>
    <h1>Gestion des administrateurs</h1>
    
    {{ form_start(form) }}

        {{ form_row(form.username, { 'label' : "Nom de l'administrateur", 'attr' : {'placeholder' : 'Nom de l\'administrateur...'}} )}}
        {{ form_row(form.email, { 'label' : "Adresse Email", 'attr' : {'placeholder' : 'Adresse Email...'}} )}}
        {{ form_row(form.password, { 'label' : "Mot de passe", 'attr' : {'placeholder' : 'Mot de Passe...'}} )}}
        {{ form_row(form.confirm_password, { 'label' : "Confirmer mot de passe", 'attr' : {'placeholder' : 'Confirmer mot de passe...'}} )}}

        <button type='submit' class='btn btn-link btn-block'>Enregistrer le nouvel administrteur</button>

    {{ form_end(form)}}
</div>

{% endblock %}
