{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <h1>Liste des articles diffusés sur le site Le Campus Les Mureaux Innove</h1>
    <a href="{{ path("admin")}}" class="btn btn-link btn-block">Retour à la page admin</a>
    {% if articles %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre de l'article</th>
                    <th>Voir</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>
                        <a href="/admin/article/{{ article.id }}" class="btn btn-link">Détails</a>
                    </td>
                    <td>
                        <a href="/admin/article/modifier/{{ article.id }}" class="btn btn-link">Modifier</a>
                    </td>
                    <td>
                        <a href="/admin/article/delete/{{ article.id }}" class="btn btn-link">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas d'article dans la base de données</p>
    {% endif %}
    <a href="{{ path("new_article")}}" class="btn btn-link btn-block">Editer un nouvel article</a>
</div>
{% endblock %}
