{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <a href="{{ path("article_list")}}" class="btn btn-link btn-block">Retour à la liste des articles</a>
    {{ form_start(form) }}

        {{ form_row(form.title, {'label' : 'Titre de l\'article'}) }}
        {{ form_row(form.content, {'label' : 'Contenu de l\'article'}) }}
        {{ form_row(form.image, {'label' : 'Image de l\'article'}) }}
        {{ form_row(form.author, {'label' : 'Auteur de l\'article'}) }}
        {{ form_row(form.date, {'label' : 'Date d\'édition de l\'article'}) }}

    {{ form_end(form) }}
</div>
{% endblock %}
