{% extends 'base.html.twig' %}

{% block title %}Article n° {{ article.id }} {% endblock %}
{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <a href="{{ path("admin")}}" class="btn btn-link btn-block">Retour à la page admin</a>
    <h1>Article n° {{ article.id }}</h1>
    <hr>
        <h2>{{ article.title }}</h2>
        <h3>{{ article.author }}</h3>

        <h4>{{ article.date|date("d/m/Y") }}</h4>

        <img src="{{ asset('uploads/') }}{{ article.image }}" alt="Image de {{ article.title }}" width="100%" height="100%">
        <p>{{ article.content }}</p>
    <hr>
    <a href="{{ path("article_list")}}" class="btn btn-link btn-block">Retour à la liste des articles</a>
</div>
{% endblock %}
