@font-face {
    font-family: 'DIN regular';
    src: url('../fonts/DIN\ Regular.ttf') format('truetype');
}

#myBtn { 
    display: none; 
    position: fixed; 
    bottom: 5em; 
    right: 1em; 
    z-index: 99; 
    font-size: 1em; 
    border: 1px solid crimson ; 
    outline: none; 
    background-color: white; 
    color: #1f1f1f; 
    cursor: pointer; 
    padding: 0.5em; 
    border-radius: 0.25em;
} 
#myBtn:hover { 
    border: 1px solid crimson; 
    background-color: white;
    color: #1027D1;
}

body{
    display: grid;
    font-family: 'DIN regular', sans-serif;
    color: #1027d1;
    line-height: 1.5;
    box-sizing: border-box;
}

hr{
    border-color: #1027D1;
}
.navbar-collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 225%;
}

.last-nav-item{
    margin-right: 200px;
}

.container{
    width: 90%;
    margin: 1rem auto;
}

/* about us & find us*/
.about-menu, .find-menu{
    font-size: 200%;
    margin: auto;
}

.about-menu-top, .about-menu-bottom, .find-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul{
    margin: 0.5rem 0.5rem;
}
.identity{
    display: flex;
    flex-direction: row;
}

.text{
    width: 50%;
}

.in-numbers{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.image{
    margin: auto;
}

.innovation{
    text-align: center;
    font-size: 150%;
    margin: 1rem;
}
.partners-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-partners{
    margin: 3rem 1rem;
}

#identity, #ambition, #position, #partners, #gallery, #transport, #map, #contact_us, #events{
    padding-top: 1rem;
    font-size: 140%;
}

.google-map{
    margin: auto;
}

.single-event, .single-article{
    display: grid;
    grid-column: 1fr, 1fr, 1fr;
    grid-column-gap: 0.5rem;
    grid-row: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-row-gap: 0.5rem;
}

.event-text, .article-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.event-img, .article-img{
    place-content: center;
    margin-top: 2rem;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.btn-link,.btnlink:hover{
    font-family: 'DIN regular', sans-serif;
}

.bg-white{
    background: #FFFFFF;
}

.bg-campus{
    background: #1027D1;
}

.text-campus{
    text-align: center;
    font-size: 200%;
}

.text-campus-titre{
    font-weight: bolder;
    text-align: center;
    font-size: 400%;
}

.text-top{
    text-align: center;
}
/*
.titre-1, h1{
    font-family: 'DIN regular', sans-serif;
    letter-spacing: normal;
    letter-spacing: 1.2;
    color: #1027D1;
}

.titre-2, h2, h3, h4, h5, h6{
    font-family: 'DIN regular', sans-serif;
    color: #1027D1;
}

.titre-2{
    font-family: 'DIN regular', sans-serif;
    font-size: 1.3em;
}

.titre-4{
    font-family: 'DIN regular', sans-serif;
    color: #1027D1;
}

.text-3{
    font-family: 'DIN regular', sans-serif;
    color: #1027D1;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #1027D1;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1027D1;
    text-decoration: none;
    background-color: #00000000;
}

.dropdown-item {
    color: #1027D1;
}

*/
a{
    text-decoration: none;
}
a:hover {
    color: #1027D1;
    text-decoration: none;
}

.badge{
    font-family: 'DIN regular', sans-serif;
    font-weight: bold;
}

.badge-texte{
    position: relative;
    z-index: 300;
    top: -400px;
}

.badge-text-p{
    font-size: 2em;
}

.espace{
    padding-bottom: 500px;
}

.marge_nav{
    margin-bottom: 150px;
}

.marge_anchor{
    margin-top: 170px;
}

.padding-top-1{
    padding-top: 200px;
}

.padding-top-2{
    padding-top: 180px;
}

.ancre{
    display: block;
    position: relative;
    top: -200px;
    min-height: 700px;
}

iframe{
    display: block;
}

#footer{
    position: relative;
    bottom:0;
    width:100%;
}

@import "~bootstrap/dist/css/bootstrap";