<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        -->
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/reset.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/normalize.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/main.css')) }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <!--Navbar-->
        <header>
            <nav class="navbar">               
                <div class="navbar-collapse" id="navbar"> 
                    <div class="nav-item"><a class="navbar-brand" href="{{ path('home') }}"><img src="{{ absolute_url(asset('assets/img/logo.png')) }}" 
                        alt="logo campus" width="150"></a></div>
                    <div class="nav-item"><a class="nav-link" href="{{ path('about_us') }}">Qui sommes nous ?</a></div>
                    <div class="nav-item"><a class="nav-link" href="{{ path('events') }}">&Eacute;vénements</a></div>
                    <div class="nav-item"><a class="nav-link" href="{{ path('articles') }}">Articles</a></div>
                    <div class="last-nav-item"><a class="nav-link" href="{{ path('find_us') }}">Nous retrouver</a></div>                
                </div>
            </nav>
        </header>
        <section class="">
                {% block body %}{% endblock %}
        </section>
        <footer>
            <div class="bg-campus">
                <div class="row col justify-content-center">
                    <a class="footer-menu" href="{{ path('about_us') }}#identity">Quelques chiffres</a>
                    <a class="footer-menu" href="{{ path('find_us') }}#map">Carte</a>
                    <a class="footer-menu" href="{{ path('terms_conditions') }}">Juridique</a>
                    <a class="footer-menu" href="{{ path('find_us') }}#contact_us">Contact</a>
                    <a class="footer-menu twitter" href="https://twitter.com/LeCampusInno">Twitter</a>
                    <a class="footer-menu linkedin" href="https://www.linkedin.com/company/lecampus">LinkedIn</a> 
                </div>
                <hr class="w-50">
                <div class="row"> 
                    <p class="copyright">Copyright &copy; 2018 WF3</p>                
                </div>
            </div>
            <button onclick="topFunction()" id="myBtn" title="Go to top">Retour haut de page &uarr;</button>
        </footer>
            <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            -->
            <script src="{{ absolute_url(asset('assets/js/scroll_top.js')) }}"></script>
            {% block javascripts %}{% endblock %}
    </body>
</html>
