{% extends 'base.html.twig' %} {% block title %}Qui sommes Nous{% endblock %} 
{% block body %}
<div class="container">
    <div class="about-menu" id="menu">
        <div class="about-menu-top ">
            <h3 class="list-inline-item"><a class="" href="{{ path('about_us') }}#identity">Une identité</a></h3>
            <h3 class="list-inline-item"><a class="" href="{{ path('about_us') }}#ambition">Des ambitions</a></h3>
        </div>
        <div class="about-menu-bottom ">
            <h3 class="list-inline-item"><a class="" href="{{ path('about_us') }}#position">Positionnement</a></h3>
            <h3 class="list-inline-item"><a class="" href="{{ path('about_us') }}#partners">Nos partenaires</a></h3>
            <h3 class="list-inline-item"><a class="" href="{{ path('about_us') }}#gallery">Galerie photos</a></h3>
        </div>
    </div>
    <hr>
    <div class="numbers" id="identity">
        <h2 class="text-campus">Le Campus en Quelques Chiffres</h2>
        <hr>
        <div class="identity">
            <div class="text">
                <p>Début 2016, le campus EDF, 17 ha et 22 000 m² de bâtiments au cœur des Mureaux, était racheté par le Conseil départemental des Yvelines.</p>
                <p>Ce site a été racheté dans l’optique d’y construire <strong>un centre d’innovation</strong>.</p>
                <p>Le Campus est au cœur d’un écosystème unique en IDF</p>
                <ul>
                    <li>De grands sites de production :</li>
                    <ul>
                        <li>RENAULT-NISSAN à Flins</li>
                        <li>PSA à Poissy </li>
                        <li>ARIANE GROUP aux Mureaux …</li>
                    </ul>
                    <li>Des centres de recherches prives ou publics :</li>
                    <ul>
                        <li>Technocentre de RENAULT</li>
                        <li>Centres R&D PSA de Carrières-sous-Poissy, Vélizy et le projet « powertrain » à Poissy</li>
                        <li>THALES à Elancourt</li>
                        <li>VEOLIA à Limay</li>
                        <li>VEDECOM à Versailles</li>
                    </ul>
                    <li>Des Ecoles / Universites De Premier Plan :</li>
                    <ul>
                        <li>ESSEC EISTI</li>
                        <li>ENSEA ESTACA</li>
                        <li>Les universités de :</li>
                        <ul>
                            <li>Saint-Quentin-en-Yvelines </li>
                            <li>Cergy-Pontoise</li>
                        </ul>
                    </ul>
                </ul>
            </div>
            <div class="in-numbers">
                <div class="image">
                    <img src="{{ absolute_url(asset('assets/img/chiffre1.png')) }}" 
                    alt="17 HA de parc, 60 salles de formation de 12 à 90 place, auditorium de 201 places"
                    height="100%">
                </div>
                <div class="image">
                    <img src="{{ absolute_url(asset('assets/img/chiffre2.png')) }}" 
                    alt="200 chambres, 300 couverts, terrace de 70 couverts, 200m² d'espace cocktail"
                    height="100%">
                </div>
            </div>
        </div>
        <a class="text-top" href="{{ path('about_us')}}#top">Haut de page</a>
    </div>     
    <hr>
    <div class="ambition" id="ambition">
        <h2 class="text-campus">Nos Ambitions</h2>
        <hr>
        <p> Ce lieu a pour ambition <strong>d’accueillir et encourager des projets innovants</strong> (innovation technologique, innovation de procédés, d'usage et de produits).</p>
        <br>
        <p>Il s’agira d’une structure d’appui à la création dans différents secteurs notamment : la santé, l’automobile, l’aéronautique et le sport.</p>
        <br>
        <p>L’accent sera mis sur l’entrepreneuriat, la connexion aux partenaires publics et privés et la formation.</p>
        <br>
        <p>Ainsi, qu’ils soient des entreprises de l’industrie ou des services, des start-ups, des sociétés éducatives ou des
            chercheurs, Le Campus est un écosystème qui abrite tous ceux qui sont prêts à mêler les enjeux de société aux
            nouveaux outils sans craindre la complexité des problématiques ni du travail collaboratif.</p>
        <br>
        <P>Ensemble, <strong>ces acteurs doivent aider à mieux décrypter les mutations de notre monde et favoriser l’émergence de solutions à la fois concrètes, pertinentes et inédites.</strong>
        </p>
        <a class="text-top" href="{{ path('about_us')}}#top">Haut de page</a>
    </div>  
    <hr>
    <div class="position" id="position">
        <h2 class="text-campus">Positionnement</h2>
        <hr>
        <p>La structure du lieu a permis le démarrage rapide du premier axe de développement : l’organisation d’évènements d’entreprises.
        <p>En quelques mois, le lieu a déjà accueilli de nombreux salons, séminaires et formations.</p>
        <p> Cette activité continue à être développée et tend à s’orienter de plus en plus vers le deuxième axe de développement :</p>
        <p  class="innovation"> <strong>l’innovation</strong>.</p>
        <p>L’innovation est au cœur du projet de développement du site.</p>
        <p>Le site a pour vocation d’accueillir les partenaires, les entreprises, les experts et les universités qui vont travailler sur les problématiques technologiques de demain.</p>
        <p>&nbsp;</p>
        <p>Différentes pistes sont en cours :</p>
        <ul>
            <li>Un jumelage a été signé entre les Yvelines et la ville de Shenzhen. Le site pourrait bientôt être peuplé de co-entreprises sino-françaises de nouvelles technologies.</li>
            <li>Des projets sont en cours avec Créative Valley, un réseau d’incubateur d’entreprise.</li>
            <li>Des évènements seront créés pour attirer les populations qui réfléchissent à l’innovation et aux métiers de demain.</li>
        </ul>
        <a class="text-top" href="{{ path('about_us')}}#top">Haut de page</a>     
    </div>
    <hr>
    <div class="partners" id="partners">
        <h2 class="text-campus">Nos partenaires</h2>
        <hr>
        <div class="partners-row">
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/tianancyberpark.png')}}" alt="logo partenaire tianan">
                </a>
            </div>
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/invie.png')}}" alt="logo partenaire invie">
                </a>
            </div>
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/groupegorge.png')}}" alt="logo partenaire groupe gorge">
                </a>
            </div>
        </div>
        <div class="partners-row">
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/ariane.png')}}" alt="logo partenaire ariane ">
                </a>
            </div>
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/webforce3.png')}}" alt="logo partenaire webforce 3">
                </a>
            </div>
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/createvalley.png')}}" alt="logo partenaire create valley">
                </a>
            </div>
        </div>
        <div class="partners-row">
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/engageleadpositivechange.png')}}" alt="logo partenaire engage lead positive change">
                </a>
            </div>
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/estaca.png')}}" alt="logo partenaire estaca">
                </a>
            </div>
            <div class="logo-partners">
                <a href="">
                    <img class="img" src="{{ asset('img/segulatechnology.png')}}" alt="logo partenaire segula technology">
                </a>
            </div>
        </div>
        <a class="text-top" href="{{ path('about_us')}}#top">Haut de page</a>
    </div>
</div>
<!-- end div container-->

{% endblock %}