{% extends 'base.html.twig' %} 

{% block title %}{{ controller_name }}{% endblock %} 

{% block body %}
<div class="container" id="articles">


    {% for article in articles %}
        <div class="single-article">
            <div class="article-text">
                {# <h3 class="text-campus">{{ article.title | slice(0,100) |raw |trim}}</h3> #}
                <h3 class="text-campus">{{ article.title }}</h3>
                {{ article.content | slice(0, 200) | raw}}
                <p class="text-campus">Ecrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('H:i') }} - Auteur {{ article.author }}</p>
            </div>
            <div class="article-img">
                <img src="{{ absolute_url(asset('uploads/')) }}{{ article.image }}" 
                alt="photo de l'article {{ article.title }}" width="100%">
            </div>
            <a href="{{ path('article', {'id': article.id}) }}" class="text-campus">Lire la suite</a>
        </div> {# end div articles #} 
    {% endfor %}

</div>
{% endblock %}