{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<div class="container" id="events" >

    <h2 class="text-campus">Nos prochains évènements</h2>
    {% for event in events %}
        <div class="single-event">
            <div class="event-text">                
                <h3>{{ event.title | slice(0,200) |raw |trim}}</h3>
                <p>Du {{ event.beginDate | date('d/m/Y') }} au {{ event.endDate | date('d/m/Y') }}</p>
                <a href="{{ path('users') }}">M'inscrire à l'évènement</a>
            </div>
            <div class="event-img">
                <img src="{{ absolute_url(asset('uploads/')) }}{{ event.image }}" alt="photo de l'événement {{event.title}}" 
                width="100%">                       
            </div>
        </div> {#end div events#}
    {% endfor %}
</div>
{% endblock %}

