{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="container">
    <div class="find-menu" id="menu">
        <h3 class="list-inline-item"><a class="" href="{{ path('find_us') }}#transport">Transport</a></h3>
        <h3 class="list-inline-item"><a class="" href="{{ path('find_us') }}#map">Carte</a></h3>
        <h3 class="list-inline-item"><a class="" href="{{ path('find_us') }}#contact_us">Nous Contacter</a></h3>
    </div>
    <hr>
    <!-- content_find_us --> 
    <div class="" id="transport">
        <h2 class="text-campus">Se rendre au site</h2>
        <hr>
        <div>
            <p>La gare des Mureaux est desservie par la ligne J du Transilien, depuis la gare SNCF Saint-Lazare, à destination de Mantes-la-Jolie.</p>
            <p>&nbsp;</p>
            <p>Une navette publique A14 au départ de La Défense arrive directement à la gare des Mureaux.</p>
            <p>&nbsp;</p>
            <p>La gare de Poissy est desservie par la ligne A du RER.</p>
            <p>&nbsp;</p>
            <p>L’arrivée du RER E aux Mureaux est prévue en 2024.</p>  
        </div>
    <a class="text-top" href="{{ path('find_us') }}#top"> Haut de page</a>
    </div>
    <hr>
    <div class="" id="map">
        <h2 class="text-center text-campus">Carte</h2>
        <hr>
        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d167581.27160252933!2d1.923225!3d48.982853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb173525d0133a854!2sCampus%2C+cit%C3%A9+de+l%E2%80%99innovation+et+des+m%C3%A9tiers+de+demain!5e0!3m2!1sen!2sfr!4v1533494056179" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <a class="text-top" href="{{ path('find_us') }}#top"> Haut de page</a>
    </div>
    <hr>
    <div class="" id="contact_us">
        <h2 class="text-campus">Nous contacter</h2>
        <hr>
        <div class="jumbotron text-center">                    
            <p>
            <h1 class="titre-1">LE CAMPUS</h1>
            <hr class="">
            <p>Patricia OVADIA - Directrice du Campus</p>
            <p>17 rue Albert Thomas – 78130 Les Mureaux</p>
            <p>Tél : +33 (0)1 39 07 76 23</p>
            </p>
        </div>
    <a class="text-top" href="{{ path('find_us') }}#top"> Haut de page</a>
    </div>
</div>
{% endblock %}