{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}!{% endblock %}
{% block body %}

    <div class="campus-img">
        <h1 class="text-campus-titre">LE CAMPUS</h1>
        <h2 class="text-campus">Générateur d'Innovation&nbsp;!</h2>
        <img src="{{ absolute_url(asset('img/campus-des-mureaux.jpg')) }}" 
        alt="Campus des Mureaux" width="100%"/>
    </div>
<div class="container" id="top" >
    <div>
        <div>
            <h3 class="text-campus">Dernières actualités</h3>

        </div>
        {#Div last 3 articles loop#}
        <div class="row">
            {% for article in articles | slice(0,3) %}
                <div class="">
                
                    <img src="{{ absolute_url(asset('uploads/')) }}{{ article.image }}" 
                        alt="Image de {{ article.title }}" width="100%">
                    <h3 class="titre-2">{{ article.title | slice(0,60) |raw |trim}}</h3>
                    <p class="text-campus">Ecrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('H:i') }} - 
                    Auteur {{ article.author }}</p>
                    {{ article.content | slice(0, 250) | raw}}

                    <div class="article_button">
                    <a href="{{ path('article', {'id': article.id}) }}" class="text-campus"> Lire la suite</a>
                    </div>                 
                </div> {#end div articles#}
            {% endfor %}
        </div> {#end div loop_article#}
        <div class="articles_button">
            <a href="{{ path('articles')}}" class="text-campus"> Lire les autres articles</a>
        </div>
    </div> {#end div last_news#}
    <hr>
    
    <div>
        <div class="">
            <h3 class="text-campus">Prochains événements</h3>

        </div>
        {#Div next  events loop#}
        <div class="row">
            {% for event in events | slice(0,3) %}
                <div class="col-md-4 col-xs-12 border-primary text-center">
                    <img class="w-100" src="{{ absolute_url(asset('uploads/')) }}{{ event.image }}"
                    alt="Image de {{ event.title }}" width="100%">
                    <h3 class="text-center text-campus">{{ event.title | slice(0,60) |raw |trim}}</h3>
                    <p>Du {{ event.beginDate | date('d/m/Y') }} au {{ event.endDate | date('d/m/Y') }}</p>
                    <div class="event_button">
                        <a href="{{ path('users')}}" class="text-campus"> S'inscrire à l'évènement</a>
                    </div>
                </div> {#end div events#}
            {% endfor %}
        </div> {#end div loop_event#}
        <div class="events_button">
            <a href="{{ path('events')}}" class="text-campus"> Voir les autres évènements</a>
        </div>
    </div> {#end div next events#}
</div>

{% endblock %}

